/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: auto;
  margin-top: 40px;
  margin-bottom: 80px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 65px;
  height: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
}