body {
				background: url(background-body.png);
}

.navbar.navbar-inverse {
    background-color: #fff;
		border-bottom: 1px solid #e6e6e6; 
		border-top-color: #fff;
		border-left-color: #fff;
		border-right-color: #fff;
		border-radius: 0;
    margin-bottom: 0;
	  font-family: "Helvetica", Helvetica, sans-serif;
		font-size: 20px;
}

#navlink {
	color: #333333;
	font-size: 15px;
		
		&:hover {
			color: #939393;
			}
}

.navbar-inverse {
    background-color: #fff;
		border-bottom: 1px solid #e6e6e6;
}

.navbar {
    position: absolute;
  	top: 0;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.booyah-box {
	border: 1px solid #efefef;
	border-radius: 1px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.booyah-box h1 {
	font-family: "Helvetica", Helvetica, sans-serif;
	font-weight: bold;
}

.booyah-box i {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #939393;
	font-size: 20px;
}

.booyah-box p {
	font-family: "Helvetica", Helvetica, sans-serif;
	font-size: 25px;
}

.navbar.navbar-inverse .navbar-brand {
    color: #000000;
    font-family: 'armoniosoregular';
    font-size: 26px;
		font-weight: bold;
	
	&:hover {
		color: #939393;
	}
}

.apple_pagination {
  border-top: 1px solid #e6e6e6;
  text-align: center;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }