body {
				background: url(background-body.png);
}

.picture {
  width: 100%;
}
      
#comments-header {
  border-bottom: 1px solid #efefef;
}

#modal-diag-center {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 300px;
}

#map {
  height: 300px;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

#user_alert_info {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
	  background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

#bs-example-navbar-collapse-1 {
    border-color: #e6e6e6;
}

#toggle-navbar .navbar-toggle:hover, #toggle-navbar .navbar-toggle:focus {
    background-color: #939393;
		border-color: #939393;
}

#toggle-navbar .navbar-toggle {
	background-color: #000;
}

#toggle-navbar .navbar-toggle .icon-bar {
    background-color: #fff;
}

#photo_picture:focus {
  border-color: #939393;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);
}

#photo_caption {
  border-color: #939393;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);
}

#comment_rating:focus {
  border-color: #939393;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);
}


#comment_message:focus {
  border-color: #939393;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);
}


#user_email:focus {
  border-color: #939393;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);
}

#user_password:focus{
  border-color: #939393;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);	
}

#user_password_confirmation:focus{
  border-color: #939393;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);	
}


#place_name:focus{
  border-color: #939393;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);	
}


#place_address:focus{
  border-color: #939393;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);	
}


#place_description:focus{
  border-color: #939393;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 147, 147, 0.6);	
}

.index {
	background: #fff;
}
	
//.index {
//	background: rgba(254,221,130,1);
//	background: -moz-linear-gradient(45deg, rgba(254,221,130,1) 0%, rgba(251,128,46,1) 29%, rgba(220,46,118,1) 52%, rgba(154,55,187,1) 80%, rgba(77,99,211,1) 100%);
//	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(254,221,130,1)), color-stop(29%, rgba(251,128,46,1)), color-stop(52%, rgba(220,46,118,1)), color-stop(80%, rgba(154,55,187,1)), color-stop(100%, rgba(77,99,211,1)));
//	background: -webkit-linear-gradient(45deg, rgba(254,221,130,1) 0%, rgba(251,128,46,1) 29%, rgba(220,46,118,1) 52%, rgba(154,55,187,1) 80%, rgba(77,99,211,1) 100%);
//	background: -o-linear-gradient(45deg, rgba(254,221,130,1) 0%, rgba(251,128,46,1) 29%, rgba(220,46,118,1) 52%, rgba(154,55,187,1) 80%, rgba(77,99,211,1) 100%);
//	background: -ms-linear-gradient(45deg, rgba(254,221,130,1) 0%, rgba(251,128,46,1) 29%, rgba(220,46,118,1) 52%, rgba(154,55,187,1) 80%, rgba(77,99,211,1) 100%);
//	background: linear-gradient(45deg, rgba(254,221,130,1) 0%, rgba(251,128,46,1) 29%, rgba(220,46,118,1) 52%, rgba(154,55,187,1) 80%, rgba(77,99,211,1) 100%);
//	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fedd82', endColorstr='#4d63d3', GradientType=1 );
// }

#index_title {
	color: #000;
	font-family: 'armoniosoregular';
  font-size: 39px;
  font-weight: bold;
	text-decoration: none;
	
		&:hover {
		color: #939393;
	}
}

.index_box {
	position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	text-align: center;
	background-color: #fff;
	height: 75px;
}

.index_words {
	display: inline-block;
}

.navbar.navbar-inverse {
  	z-index: 9999;
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #fff;
		border-bottom: 1px solid #e6e6e6; 
		border-top-color: #fff;
		border-left-color: #fff;
		border-right-color: #fff;
		border-radius: 0;
    margin-bottom: 0;
	  font-family: "Helvetica", Helvetica, sans-serif;
		font-size: 20px;
}

#navlink {
	color: #333333;
	font-size: 15px;
		
		&:hover {
			color: #939393;
			}
}

.navbar-inverse {
    background-color: #fff;
		border-bottom: 1px solid #e6e6e6;
}

.navbar {
    position: fixed;
  	top: 0;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.booyah-box {
	border: 1px solid #efefef;
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
	background-color: #fff;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.booyah-box h1 {
	font-family: "Helvetica", Helvetica, sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #efefef;
	padding-bottom: 5px;
	color: #000;
}

.booyah-box h2 {
	font-family: "Helvetica", Helvetica, sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #efefef;
	padding-bottom: 5px;
	color: #000;
}

.booyah-box h3 {
  font-family: "Helvetica", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 5px;
  color: #000;
}

.booyah-box i {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #939393;
	font-size: 20px;
}

.booyah-box p {
	font-family: "Helvetica", Helvetica, sans-serif;
	font-size: 25px;
	color: #000;
}

.booyah-box small {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #939393;
	font-size: 20px;
}

.booyah-box a {
	color: #333333;
	font-size: 15px;
		
		&:hover {
			color: #939393;
			text-decoration: none;
			}
}

.index-box {
	border: 1px solid #efefef;
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
	background-color: #fff;
	height: auto;
}

.index-box h1 {
	font-family: "Helvetica", Helvetica, sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #efefef;
	padding-bottom: 5px;
	color: #000;
}

.index-box h2 {
	font-family: "Helvetica", Helvetica, sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #efefef;
	padding-bottom: 5px;
	color: #000;
}

.index-box i {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #939393;
	font-size: 20px;
}

.index-box p {
	font-family: "Helvetica", Helvetica, sans-serif;
	font-size: 25px;
	color: #000;
}

.index-box small {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #939393;
	font-size: 20px;
}

.index-box a {
	font-family: "Helvetica", Helvetica, sans-serif;
	font-weight: bold;
	padding-bottom: 5px;
	color: #000;
		
		&:hover {
			color: #939393;
			text-decoration: none;
			}
}

.navbar.navbar-inverse .navbar-brand {
    color: #000000;
    font-family: 'armoniosoregular';
    font-size: 26px;
		font-weight: bold; 
	
	&:hover {
		color: #939393;
	}
}

.apple_pagination {
  text-align: center;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: none; color: #939393; }