<br />
<br />
<% @places.each do |place| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1 color-<%= (1..10).to_a.sample %>">
    <h1><%= place.name %></h1>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br /> 
  </div>
<% end %>